In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from functools import reduce

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1273,tt2053463,30000000,63372757,Side Effects,Rooney Mara|Jude Law|Channing Tatum|Catherine ...,Steven Soderbergh,One pill can change your life.,A woman turns to prescription medication as a ...,106,Thriller|Crime|Drama,Di Bonaventura Pictures|Endgame Entertainment|...,2/7/2013,6.3,2013
1029,tt1277953,145000000,746921274,Madagascar 3: Europe's Most Wanted,Ben Stiller|Sacha Baron Cohen|David Schwimmer|...,Eric Darnell|Tom McGrath|Conrad Vernon,"Six years ago, they disappeared without a trac...","Alex, Marty, Gloria and Melman are still tryin...",93,Animation|Family,DreamWorks Animation,6/6/2012,6.4,2012
1281,tt2017020,105000000,347434178,The Smurfs 2,Neil Patrick Harris|Christina Ricci|Katy Perry...,Raja Gosnell,Get ready to get naughty!,The evil wizard Gargamel creates a couple of m...,105,Fantasy|Family|Comedy|Animation,Columbia Pictures|Sony Pictures Animation|Kern...,7/30/2013,5.5,2013
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,Strait-laced Princeton University admissions o...,107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013
364,tt1285309,10000000,7022728,The Joneses,David Duchovny|Demi Moore|Amber Heard|Benjamin...,Derrick Borte,"They're not just living the American dream, th...",A seemingly perfect family moves into a suburb...,96,Comedy|Drama,Echo Lake Productions|Premiere Picture,9/13/2009,6.0,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [213]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data['month'] = data.release_date.apply(lambda x: x.split('/')[0])
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [214]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [215]:
# тут пишем ваш код для решения данного вопроса:
#data[data.original_title.str.contains("Spider-Man 3")]
data[data.budget == data.budget.max()]
data[data.budget == data.budget.max()].original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [217]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [218]:
data[data.runtime == data.runtime.max()]
data[data.runtime == data.runtime.max()].original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [219]:
data[data.runtime == data.runtime.min()]
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [220]:
round(data.runtime.mean())
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [221]:
round(data.runtime.median())
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [222]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title.values[0]
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [223]:
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.min()].original_title.values[0]
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [224]:
len(data[data.revenue > data.budget])
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [225]:
d2008 = data[(data.release_year == 2008)]
d2008[d2008.revenue == d2008.revenue.max()].original_title.values[0]
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [226]:
d1214 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
d1214[d1214.profit == d1214.profit.min()].original_title.values[0]
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [227]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = reduce(lambda x,y: x+'|'+y,data.genres.values).split('|')
answers['11'] = 'Drama'
pd.Series(genres).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [228]:
genres = reduce(lambda x,y: x+'|'+y,data[data.profit>0].genres.values).split('|')
answers['12'] = 'Drama'
pd.Series(genres).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [229]:
answers['13'] = 'Peter Jackson'
dir_df = data.assign(dir = lambda x: x.director.str.split('|')).explode('dir') #dir - single director value
dir_df[['dir','imdb_id','revenue']].drop_duplicates().groupby(['dir']).revenue.sum().sort_values(ascending=False).head()

dir
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [230]:
answers['14'] = 'Robert Rodriguez'
dir_df[dir_df.genres.str.contains('Action')].groupby('dir')[['revenue']].count().sort_values(['revenue'],ascending=False).head()

                    revenue
dir
Robert Rodriguez          9
Michael Bay               7
Paul W.S. Anderson        7
Ridley Scott              6
Antoine Fuqua             6

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [231]:
cast_df = data.assign(scast = lambda x: x.cast.str.split('|')).explode('scast') #scast - single cast value
answers['15'] = 'Chris Hemsworth'
cast_df[cast_df.release_year==2012][['imdb_id','scast', 'revenue']].groupby('scast')[['revenue']].sum().sort_values(['revenue'], ascending=False).head()

                      revenue
scast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

Высокобюджетным считается фильм, у которого бюджет выше среднего `budget>data.budget.mean()`

In [232]:
answers['16'] = 'Matt Damon'
cast_df[cast_df.budget>data.budget.mean()][['imdb_id','scast']].groupby('scast')[['imdb_id']].count().sort_values(['imdb_id'], ascending=False).head()

                imdb_id
scast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [233]:
genre_df = data.assign(sgenre = lambda x: x.genres.str.split('|')).explode('sgenre') #sgenre - single genre value
answers['17'] = 'Action'
genre_df[genre_df.cast.str.contains('Nicolas Cage')].sgenre.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: sgenre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [234]:
answers['18'] = 'K-19: The Widowmaker'
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [235]:
answers['19'] = 2015
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [236]:
answers['20'] = 2014
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [237]:
answers['21'] = 'Сентябрь' # 9
data['month'] = data.release_date.apply(lambda x: x.split('/')[0])
data.groupby('month')['month'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [238]:
answers['22'] = 450
len(data[data.month.isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

допустим что это режисер с самым большим количеством фильмов

In [262]:
answers['23'] = 'Peter Jackson'
dir_df[dir_df.month.isin(['12','1','2'])].groupby('dir')['dir'].count().sort_values(ascending=False)

dir
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: dir, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

посчитаю среднюю длину названий

In [329]:
com_df = data.assign(scom = lambda x: x.production_companies.str.split('|')).explode('scom') #scom - single company value
answers['24'] = 'Four By Two Productions'
com_df['title_length'] = com_df.original_title.apply(lambda x: len(x))
com_df[['original_title','scom','title_length']].groupby('scom')['scom','title_length'].mean().sort_values('title_length', ascending=False)

                            title_length
scom
Four By Two Productions             83.0
Jim Henson Company, The             59.0
Dos Corazones                       47.0
Polsky Films                        46.0
Museum Canada Productions           46.0
...                                  ...
Everest Entertainment                3.0
Berlanti Productions                 3.0
Global Entertainment Group           2.0
XM2 Productions                      2.0
Ixtlan Productions                   2.0

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [330]:
com_df = data.assign(scom = lambda x: x.production_companies.str.split('|')).explode('scom') #scom - single company value
answers['25'] = 'Midnight Picture Show'
com_df['descr_words'] = com_df.overview.apply(lambda x: len(x.split()))
com_df[['overview','scom','descr_words']].groupby('scom')['scom','descr_words'].mean().sort_values('descr_words', ascending=False)

                                       descr_words
scom
Midnight Picture Show                        175.0
Room 9 Entertainment                         161.0
Heineken Branded Entertainment               159.0
98 MPH Productions                           159.0
Brookwell-McNamara Entertainment             156.0
...                                            ...
Henceforth                                    13.0
Our Stories Films                             13.0
London Boulevard                              13.0
Motion Picture Corporation of America         11.0
Empire Pictures                               11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [331]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave '
data.sort_values(by='vote_average', ascending=False)[['original_title','vote_average']].head(int(len(data)/100)+1)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [336]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
cd = cast_df[['imdb_id','scast']]
cdm = pd.merge(cd, cd, how='inner', on='imdb_id') #merged 
cdmu = cdm[cdm.scast_x != cdm.scast_y] # unique pairs
(cdmu.scast_x +' & '+ cdmu.scast_y).value_counts().head(10)

Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Rupert Grint & Daniel Radcliffe       8
Rupert Grint & Emma Watson            8
Emma Watson & Daniel Radcliffe        8
Daniel Radcliffe & Emma Watson        8
Johnny Depp & Helena Bonham Carter    6
Ben Stiller & Owen Wilson             6
Helena Bonham Carter & Johnny Depp    6
Owen Wilson & Ben Stiller             6
dtype: int64

# Submission

In [333]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 'Peter Jackson',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [334]:
# и убедиться что ни чего не пропустил)
len(answers)

27